{% extends 'base.html.twig' %}

{% block body %}
    <main id="main">
        <div class="container">
            <section class="section-news">
                <!--не обращать внимание на имя класса-->
                <div class="row">
                    <div class="col-md-12 col-lg-2">
                        <h4 style="width: 280px;" class="heading-secondary u-margin-top-medium u-margin-bottom-medium">
                            {{ coach.fullName }}
                        </h4>
                    </div>
                </div>
                <div class="player-maxinfo">
                    <div class="row">
                        <div class="col-xl-3 col-lg-12">
                            <div class="personal-info">
                                <div  class=" personal-info__img">
                                    <img src="{% if vich_uploader_asset(coach, 'imageFile') != null  %} {{ vich_uploader_asset(coach, 'imageFile') }} {% else %} https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png {% endif %}"  alt="">
                                </div>
                                <div class="personal-info__fullname">
                                    {{ coach.fullName }}
                                </div>
                                <div class="personal-info-descr">
                                    <div class="personal-info__descr-box">
                                        <div>{% trans %} Родился {% endtrans %}</div>
                                        <div>{{ coach.birthday|date('d.m.Y')  }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-12">
                            <div class="full-news__descr">
                                {{ coach.biography }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}