<section id="partner" class="section-partner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled brand-img par_responsive">
                    <li class="par_item">
                        <a class="brand-container" target="_blank" href="https://www.fifa.com/"><img src="{{ asset('images/sponsors/fifa-logo.svg') }}" alt="FiFa"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="https://www.the-afc.com/"><img src="{{ asset('images/sponsors/AFC.svg') }}" alt="AFC"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="#"><img src="{{ asset('images/sponsors/kaganat.png') }}" alt="Kaganat"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="https://www.shoro.kg/ru/products/water/tien-shan-legend/"><img src="{{ asset('images/sponsors/legenda-football_logo.png') }}" alt="AFC"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="https://www.cbk.kg/"><img src="{{ asset('images/sponsors/kyrgystan-bank-logo.svg') }}" alt="AFC"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="https://www.instagram.com/jomasport.kg/?hl=ru"><img src="{{ asset('images/sponsors/joma-logo.svg') }}" alt="AFC"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="http://akka.kg/"><img src="{{ asset('images/sponsors/akka.svg') }}" alt="AFC"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="https://www.shoro.kg/ru/products/drinks/"><img src="{{ asset('images/sponsors/shoro-logo.svg') }}" alt="AFC"></a>
                    </li>
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="https://www.unicef.org/kyrgyzstan/ru"><img src="{{ asset('images/sponsors/unicef-logo.svg') }}" alt="AFC"></a>
                    </li>    
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="https://gipermarket.kg/"><img src="{{ asset('images/sponsors/logo_frunze.svg') }}" alt="AFC"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="http://europaplus.kg/"><img src="{{ asset('images/sponsors/evropa-plus-logo.svg') }}" alt="AFC"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="https://www.youtube.com/channel/UCxfxoGrNe4uXrNeBgeESGFQ"><img src="{{ asset('images/sponsors/Кыргыз спорт тв-01.png') }}" alt="AFC"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="https://www.hyundai.ru/"><img src="{{ asset('images/sponsors/Hyundai.png') }}" alt="AFC"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="http://www.abdysh-ata.kg/ru/products/"><img src="{{ asset('images/sponsors/Nitro.png') }}" alt="AFC"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="https://nambataxi.kg/ru/"><img src="{{ asset('images/sponsors/namba.png') }}" alt="AFC"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="https://adver.kg"><img src="{{ asset('images/sponsors/AdverGroup.png') }}" alt="AFC"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="https://www.sheratonbishkek.com"><img src="{{ asset('images/sponsors/sheraton.png') }}" alt="AFC"></a>
                    </li>   
                    <li class="par_item">      
                        <a class="brand-container" target="_blank" href="https://pintapub.business.site/"><img src="{{ asset('images/sponsors/Пинта паб.png') }}" alt="AFC"></a>
                    </li>   

                </ul>
            </div><!-- .col-md-12 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>

<section id="copyright" class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 copy-left">
                {# <span>&copy 2020 {% trans %}Кыргызский футбольный союз{% endtrans %}</span>
                    <span>{% trans %}Кыргызстан, г.Бишкек, ул.Медерова 1-Б{% endtrans %}</span>
                    <span>{% trans %}Тел{% endtrans %}: +996 312 51 82 84</span>
                    <span>E-mail: press@kfu.kg, commercial@kfu.kg</span> #}
                <p>&copy 2021 <a href="https://kfu.kg"><strong>{% trans %}Кыргызский футбольный союз{% endtrans %}</strong></a>.</p>
                <p>{% trans %}Кыргызстан, г.Бишкек, ул.Медерова 1-Б{% endtrans %}</p>
            </div><!-- .col-sm-6 -->

            <div class="col-sm-6 copy-right">
                <p>{% trans %}Тел{% endtrans %}: <a href="tel:+996312518284">+996 312 51 82 84</a></p>
                <p>E-mail: <a href="mailto:press@kfu.kg">press@kfu.kg</a>, <a href="mailto:commercial@kfu.kg">commercial@kfu.kg</a></p>                
            </div><!-- .col-sm-6 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>


