{#
<div class="row">
    <div class="col-lg-12">
        <section class="section-scoreboard">
            <div class="scoreboard">
                <div class="scoreboard-content">
                    <div class="scoreboard-team__info">
                        <div class="scoreboard-name__team">
                            Кыгызстан
                            <img src="{{ asset('images/icon/Кыргызстан.svg') }}" alt="">
                        </div>
                        <div class="scoreboard-time-goals heading-text">
                            1 тайм: 20'
                        </div>
                    </div>
                    <div class="scoreboard-tablo">
                        <div class="scoreboard-tablo__score">
                            3 : 1
                        </div>
                        <div class="scoreboard-live">
                            Прямой эфир
                        </div>
                    </div>
                    <div class="scoreboard-team__info">
                        <div class="scoreboard-name__team">
                            <img src="{{ asset('images/icon/Кыргызстан.svg') }}" alt="">
                            Кыгызстан
                        </div>
                        <div class="scoreboard-time-goals heading-text">
                            1 тайм: 20'
                        </div>
                    </div>
                </div>
            </div>
            <div class="scoreboard">
                <div class="scoreboard-content">
                    <div class="scoreboard-team__info">
                        <div class="scoreboard-name__team">
                            Кыгызстан
                            <img src="{{ asset('images/icon/Кыргызстан.svg') }}" alt="">
                        </div>
                        <div class="scoreboard-time-goals heading-text">
                            1 тайм: 20'
                        </div>
                    </div>
                    <div class="scoreboard-tablo">
                        <div class="scoreboard-tablo__score">
                            3 : 1
                        </div>
                        <div class="scoreboard-live">
                            Прямой эфир
                        </div>
                    </div>
                    <div class="scoreboard-team__info">
                        <div class="scoreboard-name__team">
                            <img src="{{ asset('images/icon/Кыргызстан.svg') }}" alt="">
                            Кыгызстан
                        </div>
                        <div class="scoreboard-time-goals heading-text">
                            1 тайм: 20'
                        </div>
                    </div>
                </div>
            </div>
            <div class="scoreboard">
                <div class="scoreboard-content">
                    <div class="scoreboard-team__info">
                        <div class="scoreboard-name__team">
                            Кыгызстан
                            <img src="{{ asset('images/icon/Кыргызстан.svg') }}" alt="">
                        </div>
                        <div class="scoreboard-time-goals heading-text">
                            1 тайм: 20'
                        </div>
                    </div>
                    <div class="scoreboard-tablo">
                        <div class="scoreboard-tablo__score">
                            3 : 1
                        </div>
                        <div class="scoreboard-live">
                            Прямой эфир
                        </div>
                    </div>
                    <div class="scoreboard-team__info">
                        <div class="scoreboard-name__team">
                            <img src="{{ asset('images/icon/Кыргызстан.svg') }}" alt="">
                            АЛГА-ЧУЙ
                        </div>
                        <div class="scoreboard-time-goals heading-text">
                            1 тайм: 20'
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
#}